.root {
  display: flex;
  position: relative;
  align-items: center;
  height: 60px;
}

.toggle {
  width: 40px;

  /* auto, since non-WebKit browsers doesn't support input styling */
  border: none; /* Mobile Safari */

  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
}

.toggle:checked {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.toggle.editing {
  visibility: hidden;
}

.view {
  display: inline-block;
  flex: 1;
  padding: 15px 20px;
  transition: color 0.4s;
  line-height: 1.2;
  word-break: break-all;
}

.view.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

.view.editing {
  display: none;
}

.edit {
  display: none;
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  padding: 12px 19px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit;
  line-height: 1.4em;
}

.edit.editing {
  display: block;
}

.destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  transition: color 0.2s ease-out;
  border: 0;
  background: none;
  color: #cc9a9a;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
  -webkit-appearance: none;
  appearance: none;
}

.destroy:hover {
  color: #af5b5e;
}

.root:hover .destroy {
  display: block;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle {
    height: 40px;
  }
}
