.header {
  position: relative;
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.newTodo {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit;
  line-height: 1.4em;
}

.newTodo::placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

.toggleAll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 46px;
}

.toggleAll > input {
  display: none;
}

.toggleAll::before {
  content: '❯';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  color: #e6e6e6;
  font-size: 22px;
}

.toggleAll.toggled::before {
  color: #737373;
}

.todoList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todoList li {
  position: relative;
  border-bottom: 1px solid #ededed;
  font-size: 24px;
}

.todoList li:last-child {
  border-bottom: none;
}
